spring:
  application:
    name: task-manager
  datasource:
    url: jdbc:postgresql://${DB_HOST}/${DB_NAME}?sslmode=require
    driver-class-name: org.postgresql.Driver
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  sql:
    init:
      mode: never
      data-locations: classpath:data-prod.sql
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
